/* GERAL */
html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none;
}

.hidden-mobile {
    display: none;
}

/* GERAL */

/* HEADER */

/* NAV */
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header nav {
    width: 92%;
    height: 78px;
    padding: 17px 16px;
    display: flex;
    align-items: center;
}

header nav div.left {
    width: 50%;
    align-self: flex-start;
    margin-left: 9px;
}

header nav div.left figure img.logo-header {
    width: 104px;
    height: 51.37px;
}

header nav div.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header nav div.right label img.menu-icon {
    width: 20px;
    height: 16px;
}

header nav div.right input[type=checkbox] {
    display: none;
}

header nav div.right ul.menu-nav {
    display: none;
}

#menu:checked~ul.menu-nav {
    display: block;
}

/* NAV */

/* HIGHLIGHT */

header div.highlight {
    width: 100vw;
    padding-bottom: 25px;
    background-color: #FAFAFA;
}

header div.highlight div.text-content {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 33px;
}

header div.highlight div.text-content h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

header div.highlight div.text-content h1 {
    font-size: 36px;
    letter-spacing: 0.2px;
    padding: 10px;
    margin: 7px 0;
    color: #252B42;
}

header div.highlight div.text-content h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

header div.highlight div.highlight-buttons {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}


header div.highlight div.highlight-buttons button {
    width: 236px;
    height: 68px;
    margin: 8px auto;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #FA4A0C;
    box-sizing: border-box;
}

header div.highlight div.highlight-buttons button.first-button {
    background-color: #FA4A0C;
}

header div.highlight div.highlight-buttons button p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1px;
}

header div.highlight div.highlight-buttons button.first-button p {
    color: #FFFFFF;
}

header div.highlight div.highlight-buttons button.second-button p {
    color: #FA4A0C;
}

/* HIGHLIGHT */
/* HEADER */

/* MAIN */
/* CONTAINER 2 */
main {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
}

main div.container2 div.two-images {
    display: flex;
    height: 360px;
    margin-bottom: 55px;
}

main div.container2 div.two-images figure.first-img {
    margin-right: -10px;
    z-index: 1;
}

main div.container2 div.two-images figure.first-img img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

main div.container2 div.two-images figure.second-img {
    display: flex;
    align-items: flex-end;
}


main div.container2 div.two-images figure img {
    width: 165px;
}

main div.container2 hr {
    width: 100vw;
    border: 1px solid #E4E4E4;
    margin: 30px 0 40px;
}

main div.container2 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}


main div.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.flex div.section-txt {
    text-align: center;
}

main div.flex div.section-txt h3 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-top: 50px;
}

main div.flex div.section-txt h2 {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 40px 0 50px;
    padding: 0 15px;
}

main div.flex div.section-txt h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0 50px;
    margin-bottom: 35px;
}

main div.flex div.section-img {
    width: 100vw;
    display: flex;
    justify-content: center;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

/* ÚLIMO CONTAINER */

main div.flex.container6 {
    width: 100vw;
    background-color: #252B42;
    margin-top: 50px;
}

main div.flex.container6 div.section-txt h2 {
    color: #FFFFFF;
    margin: 110px 0 20px;
}

main div.flex.container6 div.section-txt h4 {
    padding: 0 30px;
    margin-bottom: 60px;
}

main div.flex.container6 div.section-buttons {
    margin-bottom: 110px;
}

main div.flex.container6 div.section-buttons.hidden-desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main div.flex.container6 div.section-buttons button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    border-radius: 10px;
    margin: 10px;
}

main div.flex.container6 div.section-buttons button.first-button {
    width: 137px;
    height: 64px;
    padding: 18px 31px;
    color: #FFFFFF;
    background: #FA4A0C;
    border: none;
}

main div.flex.container6 div.section-buttons button.second-button {
    padding: 16px 45px;
    width: 186px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    background: none;
}

/* ÚLTIMO CONTAINER */
/* MAIN */

/* FOOTER */
footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

footer div.redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 186px;
}

footer div.redes-sociais img {
    width: 32px;
    height: 32px;
}

footer div.copy-right p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    margin-top: 10px;
}


/* FOOTER */

/* MEDIA QUERIES */
/* 
@media screen and (min-width: 768px) {


    header nav {
        height: 146px;
    }


    header nav div.left {
        align-self: center;
    }

    header nav div.left figure img.logo-header {
        width: 206px;
        height: 101.76px
    }


    header nav div.right label {
        display: none;
    }

    header nav div.right ul.menu-nav {
        display: flex;
    }

    header nav div.right ul.menu-nav li {}

    header nav div.right ul.menu-nav li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-decoration: none;
        color: #252B42;
    }

    header nav div.right ul.menu-nav li a:hover {
        color: #FA4A0C;
    }


} */

/* MEDIA QUERIES */