/* GERAL */
html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

div.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

figure.icon-rede-social-mobile {
    display: none;
}

/* GERAL */

/* HEADER */

/* NAV */
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header nav {
    width: 92%;
    height: 78px;
    padding: 17px 16px;
    display: flex;
    align-items: center;
}

header nav div.left {
    width: 50%;
    align-self: flex-start;
    margin-left: 9px;
}

header nav div.left figure img.logo-header {
    width: 104px;
    height: 51.37px;
}

header nav div.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header nav div.right label img.menu-icon {
    width: 20px;
    height: 16px;
}

header nav div.right input[type=checkbox] {
    display: none;
}

header nav div.right ul.menu-nav {
    display: none;
}

#menu:checked~ul.menu-nav {
    display: block;
}

/* NAV */

/* HIGHLIGHT */

header div.highlight {
    width: 100vw;
    height: 778px;
    background-color: #FAFAFA;
}

header div.highlight div.text-content h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #737373;
}

header div.highlight div.text-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 10px;
    color: #252B42;
}

header div.highlight div.text-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

header div.highlight div.highlight-buttons {
    display: flex;
    flex-direction: column;
}


header div.highlight div.highlight-buttons button {
    width: 236px;
    height: 68px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
    border: 1px solid #FA4A0C;
    box-sizing: border-box;
}

header div.highlight div.highlight-buttons button.first-button {
    background-color: #FA4A0C;
}

header div.highlight div.highlight-buttons button.first-button p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}